html {
  scroll-behavior: smooth;
}

strong {
  transition: color 0.3s ease;
}

strong:hover {
  color: #ff8000;
}

.typing-text {
  transition: color 1s ease;
}

.logo-circle {
  width: 2.2em;
  height: 2.2em;
  border-radius: 50%;       /* makes the image circular */
  object-fit: cover;        /* ensures the image fills the circle */
  padding: 2px;
  margin-right: .5em;
  border: 3px solid #cccccc;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); /* optional: soft shadow */
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

.logo-circle:hover {
  border: 3px solid #ff8000;
  box-shadow: 0 0 12px rgba(255, 128, 0, 0.45);
}

.section {
  padding-top: 6em;
  padding-left: 10%;
  padding-right: 10%;
  width: 100vw;
  min-height: 100vh;
  align-content: center;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.profile {
  width: 80%;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid rgb(204, 204, 204);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

.profile:hover {
  border: 5px solid #ff8000;
  box-shadow: 0 0 16px rgba(255, 128, 0, 0.45);
}

#root {
  margin: 0 auto;
  text-align: center;
}

#about {
  background: #f4f4f4;
}

#jobs {
  background: #f8fbff;
}

#education {
  background: #fff9f7;
}

#publications {
  background: #f9fff8;
}
