html {
  scroll-behavior: smooth;
}

strong {
  transition: color 0.3s ease;
}

h1 strong:hover {
  color: #ff8000;
}

nav {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.27);
}

main > div:nth-child(odd) {
  background-color: #f4f4f4;
}

main > div:nth-child(even) {
  background-color: #ffffff;
}

.typing-text {
  transition: color 1s ease;
}

.logo-circle {
  width: 2.2em;
  height: 2.2em;
  border-radius: 50%;       /* makes the image circular */
  object-fit: cover;        /* ensures the image fills the circle */
  padding: 2px;
  margin-right: .5em;
  border: 3px solid #cccccc;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); /* optional: soft shadow */
  transition: all 0.001s ease;
}

.navbar {
  align-content: center;
}

.navbar-brand:hover .logo-circle {
  border: 3px solid #ff8000;
  box-shadow: 0 0 12px #ff800072;
  fill: #ff8000;
}

.navbar-brand strong {
  transition: all 0.001s ease;
}

/*.navbar-brand.active_tab strong {*/
/*  color: #001d93;*/
/*}*/

/*.navbar-brand.active_tab svg {*/
/*  fill: #001d93;*/
/*}*/

.navbar-brand:hover strong, .navbar-brand.active_tab:hover strong {
  color: #ff8000;
  text-shadow: 0 0 2px #ff800072;
}

.nav-link {
  position: relative;
  margin-bottom: 4px;
}

.nav-link.active_tab {
  color: #ff8000;
  transition: all 0.3s ease;
  font-weight: bold;
}

.nav-link:hover {
  color: #ff8000;
}

.section {
  padding-top: 6em;
  padding-left: 10%;
  padding-right: 10%;
  width: 100vw;
  min-height: 100vh;
  align-content: center;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.profile {
  width: 80%;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid rgb(204, 204, 204);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

.profile:hover {
  border: 5px solid #ff8000;
  box-shadow: 0 0 16px #ff800072;
}

.justify-left {
  text-align: left;
  padding-left: 3%;
}

.svg-about:hover {
  fill: #ff8000;
}

.svg-about:active {
  fill: #ffffff;
}

.about-button {
  background-color: rgba(0, 0, 0, 0.01);
  border: 2px solid rgb(204, 204, 204);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  margin: 2%;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, border 0.3s ease, color 0.3s ease;
  color: black;
}

.about-button:hover {
  background-color: #ffffff;
  box-shadow: 0 0 15px #ff800072;
  border: 2px solid #ff8000;
  color: #ff8000;
}

.about-button:active {
  background-color: #0033ff;
  box-shadow: 0 0 15px #001d93;
  border: 2px solid #001d93;
  color: #ffffff;
}

.about-button strong:active {
  color: #ffffff;
}

.card-footer {
  padding-bottom: 0;
}

.card-footer ul {
  margin-bottom: 0;
}

.new-page-button {
  padding: 0;
  margin: 5px 5px 10px 8px;
  background-color: rgba(0, 0, 0, 0.01);
  border: 2px solid rgb(204, 204, 204);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease, border 0.3s ease, color 0.3s ease;
  color: black;
  align-content: center;
}

.new-page-button:hover {
  background-color: #ffffff;
  box-shadow: 0 0 15px #ff800072;
  border: 2px solid #ff8000;
  color: #ff8000;
}

.new-page-button:active {
  background-color: #0033ff;
  box-shadow: 0 0 15px #001d93;
  border: 2px solid #001d93;
  fill: #ffffff;
}

.new-page-button strong:active {
  color: #ffffff;
}

.contacts {
  padding: 4%;
  width: 75%;
  color: black;
  background-color: #f4f4f4;
}

.contacts a {
  display: block;
  margin-bottom: 8px;
  font-size: large;
  color: black;
  text-decoration: none;
}

.contacts a:hover {
  color: #0033ff;
  text-decoration: underline;
}

.section-title {
  margin-bottom: 30px;
}

.timeline {
  border-left: 5px solid var(--timelineColor, #001d93);
}

.timeline-first {
  margin-top: 70px;
}

.timeline-last {
  margin-bottom: 165px;
}

.timeline-dot {
  position: relative;
  left: -35px;
  width: 40px;
  height: 40px;
  background-color: var(--timelineColor, #001d93);
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: 0 0 0 5px var(--timelineColor, #001d93);
}

.timeline-dot:hover {
  box-shadow: 0 0 5px 5px var(--timelineColor, #001d93);
}

.timeline-dot-all {
  top: 40%;
}

.timeline-dot-first {
  top: 0;
}

.timeline-dot-last {
  bottom: -100%;
}

.timeline-card {
  display: block;
  margin-right: 90px;
  margin-bottom: 40px;
  padding: 20px 15px 15px 15px;
  background-color: rgba(244, 244, 244, 0.5);
  border: 2px solid #00000019;
  transition: all 0.3s ease;
}

.timeline-card .card-body {
  padding: 0;
}

.timeline-card:hover {
  box-shadow: 0 0 15px #CCCCCCFF;
}

.timeline-card-white {
  background-color: #ffffff;
}

.timeline-date-loc {
  display: inline-block;
  width: 50%;
  align-content: center;
  margin-top: 10px;
}

.publications-section {
  padding-bottom: 50px;
}

.publication {
  border-bottom: 2px solid #00000019;
  padding: 1em;
}

.publication:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.publication-description {
  text-align: left;
}

.publication-button {
  margin: 0 5px 0 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding-bottom: 7px;
}

.publication-button:hover {
  box-shadow: 0 0 5px #ff800072;
}

.publication-tldr {
  margin-top: 15px;
  padding: 5px;
  border-radius: 0;
  border: 0;
  border-top: 1px solid #00000019;
}

.section-footnote {
  text-align: left;
  display: flex;
  margin: 1em;
}

.teaser {
  max-width: 100%;
  max-height: 200px;
}

.custom-backdrop {
  background-color: rgba(0, 0, 0, 0.1); /* Adjust transparency here */
}

.footer {
  padding: 1em;
  background-color: #f8f9fa;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.27);
}

#presentation h1 {
  margin-left: 17px;
}

#root {
  margin: 0 auto;
  text-align: center;
}
